$cadet-gray: #9aa0a8;
$ash-gray: #a7c4b5;
$celadon: #a9d8b8;
$tea-green: #7dcfb6;
$rebecca-purple: #662e9b;
$crimson: #d72638;
$carrot-orange: #f49d37;
$emerald: #33ca7f;
$white: #fff;
$black: #000;

$color-primary: $tea-green;
$color-secondary: $cadet-gray;
$color-ternary: $rebecca-purple;

$color-success: $emerald;
$color-warning: $carrot-orange;
$color-danger: $crimson;

$base-font-size-px: 16px;
